.Rproj.user
.Rhistory
.RData
.Ruserdata

# ignore locally opened files
.~* 

# Ignore cache
cache/*.[rR][dD][aA][tT][aA]
cache/*.hash
# Ignore figure outputs
figures/*.svg
figures/*.jpeg
# Ignore table outputs
tables/*.html
tables/*.docx
# Ignore reports documents
reports/*.docx
reports/*.pdf

